@if (isOpenModal() && safeTrailerUrl()) {
  <div
    class="fixed inset-0 bg-black/80 z-50 flex items-center justify-center p-4"
    (click)="close()"
  >
    <div class="relative w-full max-w-4xl aspect-video" (click)="$event.stopPropagation()">
      <button
        class="absolute -top-12 right-0 btn btn-circle btn-ghost text-white"
        (click)="close()"
      >
        <i class="fa-solid fa-xmark text-2xl"></i>
      </button>
      <iframe
        [src]="safeTrailerUrl()"
        class="w-full h-full rounded-lg"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
}
