@if (trendingMoviesResource.hasValue()) {
  @let movie = trendingMoviesResource.value()![0];
  <div class="hero bg-base-500 min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <div>
        <h1 class="text-5xl font-bold">{{ movie.title }}</h1>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
} @else if (trendingMoviesResource.isLoading()) {
  <div class="loading">Cargando películas...</div>
} @else if (trendingMoviesResource.error()) {
  <div class="error">Error al cargar películas</div>
}
